<ion-view view-title="Login">
  <ion-content class="padding">
    <h3>Sign In!</h3>
    <small>Welcome back, Jack!</small>
    <div class="list">
      <label class="item item-input">
       <span class="input-label">Email</span>
       <input type="text">
     </label>
     <label class="item item-input">
       <span class="input-label">Password</span>
       <input type="password">
     </label>
    </div>
    <button type="button" name="forgot" class="button button-clear">
      Forgot Password
    </button>
    <button type="button" name="login" class="button button-block button-positive">
      Sign In
    </button>
    <div class="list">
      Not registered yet?
      <button type="button" name="signup" class="button button-block button-stable">
        Sign Up
      </button>
    </div>
  </ion-content>
</ion-view>
