<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.meterapp493291" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>meterApp</name>
  <description>
        An Ionic Framework and Cordova project with Parse and Jquery Knob. Micro-app for self-monitoring blood glucose.
    </description>
  <author email="bporter@porterhaus.com" href="http://porterhaus.com/">
      Porterhaus, LLC
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
